.profil-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
  }
  
  .profil-info {
    display: flex;
    align-items: center;
  }
  
  .profil-details {
    color: #333;
  }
  
  .profil-details p {
    margin: 5px 0;
  }
  