/* ReservationPage.css */
h2 {
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

.seats-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: 0 auto 20px;
}

.seat {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #ddd;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.seat.selected {
  background-color: #3498db;
  color: white;
}

.seat.unavailable {
  background-color: #ddd;
  pointer-events: none;
}

.summary {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.summary h3 {
  margin-bottom: 10px;
}

.summary-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  max-width: 400px;
  list-style: none;
  padding: 0;
}

.summary-list li {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.reservation-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #090a0b;
  color: white;
}

.cinema-image-container {
  flex: 0 0 600px;
  padding: 10px;
}

.cinema-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.reservation-content {
  flex: 1;
  padding: 20px;
}

.container-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-price h3 {
  margin-bottom: 10px;
}

.total-price {
  font-size: 24px;
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  color: white;
  width: 150px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.screen{
  position: relative;
  margin-top: 2rem;
}

.screen span{
  position: relative;
  z-index: 2;
  font-size: 24px;
  font-weight: 600;
  margin: 42%;
  color: #daa846;
  padding: 0 3.5rem;
  border-radius: 1rem;
  background: #090a0b;
}

.screen svg{
  position: absolute;
  width: 80%;
  left: 8%;
  bottom: 30%;
}